<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zhixin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA519CD51C50C53B006D7D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA519CEE1C50C53B006D7D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA519CF91C50C53C006D7D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
